:root {
  font-family: "Inter", "sans-serif", "Arial", "Helvetica", "system-ui";
}

code,
pre,
kbd,
samp {
  font-family:
    "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", "monospace";
}

body {
  min-height: 100vh;
  overflow: hidden;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  text-transform: none;
  margin: 0;
  border-width: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
